body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.producto h4 {
    font-size: 18px;
    color: #333;
}

.producto p {
    color: #555;
    margin: 5px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para las secciones de categorías y productos */
#productos-destacados, #categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.categoria {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.categoria h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

#carrito-btn {
    padding: 10px 20px;
    background-color: #ff5722;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#carrito-btn:hover {
    background-color: #e64a19;
}

#carrito-count {
    font-weight: bold;
}
